In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl

In [9]:
ls ../../../data/bank-4

data-desc.txt  test.csv       train.csv

In [11]:
train = pd.read_csv(
    '../../../data/bank-4/train.csv',
    names = ['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y']
)

In [12]:
train

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,41,services,married,secondary,no,0,yes,no,unknown,5,may,114,2,-1,0,unknown,no
1,48,blue-collar,single,secondary,no,312,yes,yes,cellular,3,feb,369,2,-1,0,unknown,no
2,55,technician,married,secondary,no,1938,no,yes,cellular,18,aug,193,1,386,3,success,yes
3,54,admin.,married,tertiary,no,59,yes,no,cellular,10,jul,268,1,-1,0,unknown,no
4,34,management,single,tertiary,no,2646,no,no,cellular,14,apr,142,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,50,technician,divorced,secondary,no,116,yes,no,cellular,18,may,40,2,321,14,other,no
4996,59,management,divorced,tertiary,no,258,yes,no,telephone,29,oct,266,1,-1,0,unknown,yes
4997,37,blue-collar,married,secondary,no,151,yes,no,unknown,5,jun,202,1,-1,0,unknown,no
4998,31,management,single,tertiary,no,1315,yes,no,unknown,8,may,156,1,-1,0,unknown,no
4999,28,blue-collar,married,secondary,no,339,yes,no,unknown,26,may,100,2,-1,0,unknown,no

In [22]:
train_values = {
    'age': ['< 50 precentile', '> 50 precentile'],
    'job': ["admin.","unknown","unemployed","management","housemaid","entrepreneur","student", "blue-collar","self-employed","retired","technician","services"],
    'marital': ["married","divorced","single"],
    'education': ["unknown","secondary","primary","tertiary"],
    'default': ["yes","no"],
    'balance': ['< 50 precentile', '> 50 precentile'],
    'housing': ["yes","no"],
    'loan': ["yes","no"],
    'contact': ["unknown","telephone","cellular"],
    'day': ['< 50 precentile', '> 50 precentile'],
    'month': ['apr', 'aug', 'dec', 'feb', 'jan', 'jul', 'jun', 'mar', 'may', 'nov', 'oct', 'sep'],
    'duration': ['< 50 precentile', '> 50 precentile'],
    'campaign': ['< 50 precentile', '> 50 precentile'],
    'pdays': ['not previously contacted', '< 50 precentile', '> 50 precentile'],
    'previous': ['< 50 precentile', '> 50 precentile'],
    'poutcome': ["unknown","other","failure","success"],
    'y': ["yes","no"]
}
# train_values

In [38]:
median_age = np.median(train.age)
median_balance = np.median(train.balance)
median_day = np.median(train.day)
median_duration = np.median(train.duration)
median_campaign = np.median(train.campaign)
median_pdays = np.median(train.pdays[train.pdays!=-1])
median_previous = np.median(train.previous)
train_discretized = pd.DataFrame(
    {
        'age': [ '< 50 precentile' if age>median_age else '> 50 precentile' for age in train.age],
        'job': train.job,
        'marital': train.marital,
        'education': train.education,
        'default': train.default,
        'balance': [ '< 50 precentile' if balance>median_balance else '> 50 precentile' for balance in train.balance],
        'housing': train.housing,
        'loan': train.loan,
        'contact': train.contact,
        'day': [ '< 50 precentile' if day>median_day else '> 50 precentile' for day in train.day],
        'month': train.month,
        'duration': [ '< 50 precentile' if duration>median_duration else '> 50 precentile' for duration in train.duration],
        'campaign': [ '< 50 precentile' if campaign>median_campaign else '> 50 precentile' for campaign in train.campaign],
        'pdays': [ 'not previously contacted' if pdays==-1 else ('< 50 precentile' if pdays>median_pdays else '> 50 precentile') for pdays in train.pdays],
        'previous': [ '< 50 precentile' if previous>median_previous else '> 50 precentile' for previous in train.previous],
        'poutcome': train.poutcome,
        'y': train.y
    }
)
train_discretized

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,< 50 precentile,services,married,secondary,no,> 50 precentile,yes,no,unknown,> 50 precentile,may,> 50 precentile,> 50 precentile,not previously contacted,> 50 precentile,unknown,no
1,< 50 precentile,blue-collar,single,secondary,no,> 50 precentile,yes,yes,cellular,> 50 precentile,feb,< 50 precentile,> 50 precentile,not previously contacted,> 50 precentile,unknown,no
2,< 50 precentile,technician,married,secondary,no,< 50 precentile,no,yes,cellular,< 50 precentile,aug,< 50 precentile,> 50 precentile,< 50 precentile,< 50 precentile,success,yes
3,< 50 precentile,admin.,married,tertiary,no,> 50 precentile,yes,no,cellular,> 50 precentile,jul,< 50 precentile,> 50 precentile,not previously contacted,> 50 precentile,unknown,no
4,> 50 precentile,management,single,tertiary,no,< 50 precentile,no,no,cellular,> 50 precentile,apr,> 50 precentile,> 50 precentile,not previously contacted,> 50 precentile,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,< 50 precentile,technician,divorced,secondary,no,> 50 precentile,yes,no,cellular,< 50 precentile,may,> 50 precentile,> 50 precentile,< 50 precentile,< 50 precentile,other,no
4996,< 50 precentile,management,divorced,tertiary,no,> 50 precentile,yes,no,telephone,< 50 precentile,oct,< 50 precentile,> 50 precentile,not previously contacted,> 50 precentile,unknown,yes
4997,> 50 precentile,blue-collar,married,secondary,no,> 50 precentile,yes,no,unknown,> 50 precentile,jun,< 50 precentile,> 50 precentile,not previously contacted,> 50 precentile,unknown,no
4998,> 50 precentile,management,single,tertiary,no,< 50 precentile,yes,no,unknown,> 50 precentile,may,> 50 precentile,> 50 precentile,not previously contacted,> 50 precentile,unknown,no
4999,> 50 precentile,blue-collar,married,secondary,no,> 50 precentile,yes,no,unknown,< 50 precentile,may,> 50 precentile,> 50 precentile,not previously contacted,> 50 precentile,unknown,no